//colors
$dark-grey: #333333;
$blue: #1c88bf;
$dark-blue: #364051;
$grey: #888888;
$off-white: #e1e1e1;

//font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//size
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;